

.homepage-container{
    margin-top:var(--header-height);
    color:var(--white);
    min-height:100vh; 
    padding-bottom:20px;
}

.home-light{
    background-color: var(--light-bg);
    color:black;
}
.movies-wrapper{
    margin-top:20px;
    display: flex;
    padding:20px;
}
.popular-container{ 
    display: flex;
    flex-direction:column;
    padding:0 15px;
}
.popular-cards-wrapper{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    margin-top:20px;
    align-items: center;
}

.page-numbers{
    display: flex;
    justify-content: space-around;
    width:60%;
    cursor:pointer;
    margin-top:20px;
}
.current-page{
    border-bottom: 1px solid var(--white);
    cursor:pointer;
}
.page{
    cursor:pointer;
}
.top-rated-container{
    display: flex;
    flex-direction:column;
    align-items: center;
    width:40%;
    height:fit-content;
    /* padding:20px 0; */
    /* margin-top:40px; */


}
.top-rated-cards-wrapper{
    display: flex;
    flex-wrap: wrap; 
    border-radius: 8px; 
    margin-top:20px;
    box-shadow: -11px 2px 33px 1px rgba(8,7,7,0.75);
    -webkit-box-shadow: -11px 2px 33px 1px rgba(8,7,7,0.75);
    -moz-box-shadow: -11px 2px 33px 1px rgba(8,7,7,0.75);
}

.page-numbers{
    cursor:pointer;
    color:var(--white);
    font-size: 1.5em;
   }
   .page-numbers p:hover{
    color:var(--red);
   }

 
@media(max-width:768px){
    .movies-wrapper{
       flex-direction: column;
       align-items: center;
    }
    .top-rated-container{
        margin-top:50px;
        width:80%;
    }
    .page-numbers{
        width:100%;
    }
}
@media(max-width:600px){
    .homepage-container{
        margin-top:var(--header-height-mobile);
    }
}